@import url('https://fonts.googleapis.com/css2?family=Medula+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans:wght@500&display=swap');

body {
    font-family: Arial, sans-serif;
  }
  
  h1 {
    font-family: 'Medula One', cursive;
    font-weight: 400;
    font-size: 65px;
    line-height: 65.52px;
  }
  
  .text-left {
    margin-top: 60px;
    
  }
  
  .text-left a {
    font-family: 'Alumni Sans', sans-serif;
    color: #000000;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;

  }

  .text-right {
    font-family: 'Alumni Sans', sans-serif;
    font-size: 21px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    margin-top: 50px;
  }
  
  .text-right a {
    color: black;
  }
  
  .text-right input[type="text"] {
    width: calc(100% - 139px);
    border-radius: 5px;
    padding-right: 30px;
    background-image: url("https://fonts.gstatic.com/s/i/materialicons/search/v14/24px.svg");
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 20px 20px;
  }
  
  h2 {
    font-family: 'Alumni Sans', sans-serif;
    font-size: 40px;
    font-weight: 400;
    line-height: 48px;
    letter-spacing: 0em;

  }
  h3 {
    font-family: "Roboto", Arial, sans-serif;
  }

  .col.text-center {
    margin-top: 50px;
  }

  .col-md-4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    
  }
  
  .section-title {
    font-family: 'Medula One', cursive;
    font-weight: 400;
    font-size: 65px;
    line-height: 65.52px;
  }
  
  /* Estilização adicional */
  
  .section-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffff;
    padding: 10px;
    z-index: 2;
    width: 100%;
  }

  .card {
    background-color: #f2f2f2;
    padding: 20px;
    margin-bottom: 20px;
    text-align: center;
    font-family: 'Alumni Sans', sans-serif;
}

.card h3 {
    font-size: 20px;
    font-family: 'Alumni Sans', sans-serif;
    font-weight: bold;
}

.card p {
    font-size: 17px;
    margin-top: -3px;
}

.card i {
    font-size: 24px;
    margin-bottom: 10px;
}

  #secao {
    text-align: left;
  }

  #contactInput {
    width: 68%;
    border-radius: 10px;
  }

  #form-submit {
    width: calc(100% - 139px);
    background-color: #000000;
    border-radius: 10px;
    border: none;
  }

  #privacy {
    font-size: 13.5px;
  }
  
  #footer {
    color: #fff;
  }

  footer h3 {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
  }

  .list-unstyled li a {
    color:#fff;
  }

  .list-unstyled li a:hover {
    color: #000000;
  }

  #copy {
    font-size: 13px;
  }

  #loginModalLabel {
    text-align: center;
    font-family: "Arial", sans-serif;
    margin: 0;
    padding: 10px;
    /* Adicione outros estilos de fonte conforme necessário */
  }

  .modal-dialog {
    max-width: 393px;
    height: 500px;
  }
  
  #loginEmail,
  #loginPassword {
    width: 80%;
    margin: 0 auto;
    border-radius: 10px;
    /* Ajuste a largura conforme necessário */
  }

  .modal-title {
    text-align: center;
  }

  #loginModal .close {
    position: absolute;
    top: 10px;
    right: 10px;
  }  
  
  .modal-content .header {
    margin-top: 35px;
    display:flexbox;
    justify-content: space-between;
  }
  
  .modal-content .header .modal-title {
    font-family: 'Medula One', cursive;
    font-size: 30px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;

    margin-bottom: 10px;
    text-align: center;
  }
  
  .modal-content .header .close {
    margin-bottom: 10px;
    text-align:right;
  }

  .align-right {
    text-align: right;
  }
  .align-center {
    font-family: Alumni Sans;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: right;
    margin-right: 50px;
  }
  .forgot-pass{
    color:#000000;
  }

  .align-center-2 {
    font-family: Alumni Sans;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0em;
    margin-top: 10px;

    text-align: center;
  }

  .modal-footer {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  
  .float-left {
    float: left;
  }
  
  .btn-primary {
    width: 80%;
    margin: 0 auto;
    background-color: #000000;
    font-family: 'Alumni Sans', sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    border: none;
    border-radius: 10px;

    /* Ajuste a largura conforme necessário */
  }
  
  .mt-2 {
    margin-top: 2px;
  }
  
  .btn-secondary {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 50px;
    background-color: #387337;
    font-family: 'Alumni Sans', sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    border-radius: 10px;
    /* Ajuste a largura conforme necessário */
  }

  .btn-secondary:hover {
    background-color: green;
  }


  .footer-center {
    font-family: Alumni Sans;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0em;
    margin-top: 10px;
    margin: 0 auto;

    text-align: center;
    align-items: center;
  }

  #signupModal .modal-title {
    font-family: 'Medula One', cursive;
    font-size: 30px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    margin-top: 10px;
    text-align: center;
  }
  
  #signupModal .close {
    position: absolute;
    top: 10px;
    right: 10px;
  }
  
  #signupModal form {
    margin-bottom: 20px;
  }
  
  #signupModal form .form-group {
    margin-bottom: 10px;
  }
  
  #signupModal button.btn-primary {
    width: 100%;
  }
  
  #signupModal .footer-center {
    text-align: center;
    margin-top: 10px;
    color: black;
  }

  .btn#button-create {
    width: calc(100% - 139px);
  }